@using Newtonsoft.Json
@using System.Collections.Generic
@{
    ViewData["Title"] = "Bingewatch";
}
@inject ApplicationDbContext context
@inject UserManager<User> userManager

@model UserListsViewModel

<script>
    function removeFavorite(id) {

        $.ajax({
            url: '/API/RemoveFavorite?id=' + id,
            type: 'POST',
            success: function (res) {
                console.log(res);
                location.reload();
            },
            error: function (error) { console.log(error) }
        });
    }
</script>

@if (User.Identity.IsAuthenticated)
{
    User user = await userManager.FindByNameAsync(User.Identity.Name);


    <table style="width:100%">
        <tr>
            <th><h1>Favorites</h1></th>
            <th><h1>Watching</h1></th>
            <th><h1>Watched</h1></th>
        </tr>
        <tr>
            @if (Model.Favorites != null)
            {
                <td>
                    @foreach (var fav in Model.Favorites)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="@("api/images?name=" + fav.ImageUrl)" alt="..." width="100">
                                <div class="caption">
                                    <h3>@fav.Title</h3>
                                    <p><a href="/Movie/MoviePage?id=@fav.Id" class="btn btn-outline-secondary" role="button">Read more</a> <a class="btn btn-light" role="button" onclick="removeFavorite(@fav.Id);">Remove from my list</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </td>
            }
            else
            {
                <td><h2>You don't have any favorite movie.</h2></td>
            }
            <td>
                2
            </td>
            <td>
                3
            </td>
        </tr>

    </table>

}